<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title layout:fragment="title">바른지성한방병원</title>
</head>
<body>

<main layout:fragment="content">

<!-- 메인 비주얼 슬라이더 -->
<div id="mainCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.emojiall.com/images/60/telegram/2708-fe0f.gif" class="d-block w-100" alt="Slide1">
    </div>
    <div class="carousel-item">
      <img src="https://www.emojiall.com/images/60/skype/2708-fe0f.png" class="d-block w-100" alt="Slide2">
    </div>
  </div>
</div>

<!-- 서비스 카드 -->
<section class="container mb-5">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fqquing.net%2Fdata%2Fupload%2Fmanga%2F2024_07_1908b25b3655709c2.jpg&type=sc960_832" class="card-img-top" alt="Service1">
        <div class="card-body">
          <h5 class="card-title">안면마비 집중치료</h5>
          <a href="#" class="btn btn-primary">VIEW MORE</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fqquing.net%2Fdata%2Fupload%2Fmanga%2F2024_07_1908b25b3655709c2.jpg&type=sc960_832" class="card-img-top" alt="Service2">
        <div class="card-body">
          <h5 class="card-title">성장 치료</h5>
          <a href="#" class="btn btn-primary">VIEW MORE</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fqquing.net%2Fdata%2Fupload%2Fmanga%2F2024_07_1908b25b3655709c2.jpg&type=sc960_832" class="card-img-top" alt="Service3">
        <div class="card-body">
          <h5 class="card-title">재활치료</h5>
          <a href="#" class="btn btn-primary">VIEW MORE</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 의료진 섹션 -->
<section class="container mb-5">
  <h3 class="mb-4">대표 의료진</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <img src="/images/doctor1.jpg" class="card-img-top" alt="Doctor1">
        <div class="card-body">
          <h5 class="card-title">정인호 원장</h5>
          <p class="card-text">대표원장 / 한방재활</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <img src="/images/doctor2.jpg" class="card-img-top" alt="Doctor2">
        <div class="card-body">
          <h5 class="card-title">김지연 원장</h5>
          <p class="card-text">소아 성장 전문</p>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
#mainCarousel .carousel-item img {
    width: auto;
    max-width: 100%;
    max-height: 300px; /* 원하는 최대 높이 */
    display: block;
    margin: 0 auto; /* 가운데 정렬 */
}
</style>
</main>

</body>
</html>
