<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>title</title>
</head>
<body>
	<h1>게시글 목록</h1>
	<table>
	<thead>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>내용</th>
			<th>작성자</th>
			<th>날짜</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="post : ${posts}">
			<td>[[${post.num}]]</td>
			<td>
				<a th:text="${post.title}" th:href="@{|/post/detail/${post.num}|}"></a>
			</td>
			<td th:text="${post.content}"></td>
			<td th:text="${post.writer}"></td>
			<td th:text="${post.date}"></td>
		</tr>
		<tr th:if="${posts.isEmpty()}">
			<th colspan="4">등록된 게시글이 없습니다</th>
		</tr>
	</tbody>
	</table>
	<a href="/">메인으로</a>
	<br>
	<a th:href="@{/post/insert}">게시글등록</a>
</body>
</html>